.login {
  position: fixed;          /* stick to top */
  top: 0;
  left: 0;
  width: 100%;

  background-color: aquamarine;
  padding: 0.75rem 2rem;

  box-sizing: border-box;

  display: flex;
  justify-content: flex-end; /* push items to right edge */
  align-items: center;       /* vertically center */

}

.login p {
  color: black;
  margin: 0;
  font-weight: 600;
}

.login button {
  cursor: pointer;
}
