name: Deploy Frontend to DigitalOcean

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Build the React project
        run: npm run build

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DO_SSH_KEY }}

      - name: Decode and add SSH key to agent
        run: |
          # Create the .ssh directory if it doesn't exist
          mkdir -p ~/.ssh
          echo "${{ secrets.DO_SSH_KEY }}" | base64 --decode > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          ssh-add ~/.ssh/deploy_key

      - name: Sync files to DigitalOcean Droplet using rsync
        run: |
          SSH_USER="nico"
          DO_DROPLET_IP=${{ secrets.DO_DROPLET_IP }}
          APP_NAME="WebShop"
          REMOTE_PATH="~/deployment/site/$APP_NAME/"

          rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no" ./dist/ $SSH_USER@$DO_DROPLET_IP:$REMOTE_PATH
